.professional {
  &__container {
    background-color: var(--color-yellow);
  }

  &__body {
    padding: 140px 120px 0px;
    // position: relative;
    // max-height: 900px;
  }

  &__main {
  }

  &__slide {
  }
}

.main-professional {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px 40px 10px;

  &__body {
    margin: 0 auto;
    color: var(--color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & span {
    @include span(#fff);

    &::before {
      @include before(5px, 20px, 23px, 27px);
      background: url(/src/images/professional/Professional1.svg);
    }
  }

  &__title {
  }

  &__text {
    padding: 10px 0px 35px;
    text-align: center;
  }

  &__buttons {
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__item {
  }

  &__link {
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    padding-left: 70px;

    &:hover {
      border: 1px solid transparent;
      background-color: #fff;
    }
    &_active {
      border: 1px solid var(--color-blue);
      background-color: #fff;
    }
  }
}
#professional-button-one {
  position: relative;
  &::before {
    @include before(15px, 30px, 36px, 36px);
    background: url(/src/images/professional/Professional2.svg);
  }
}
#professional-button-two {
  position: relative;
  &::before {
    @include before(15px, 30px, 34px, 34px);
    background: url(/src/images/professional/Professional3.svg);
  }
}
#professional-button-three {
  position: relative;
  &::before {
    @include before(15px, 30px, 34px, 34px);
    background: url(/src/images/professional/Professional4.svg);
  }
}
.slide-professional {
  position: relative;
  margin-bottom: -60px;
  background-color: #fff;
  max-width: 1200px;
  padding: 60px;
  display: flex;
  gap: 50px;
  box-shadow: -1px 6px 18px rgba(0, 0, 0, 0.09);

  &__body {
    flex: 0 1 50%;
    & span {
      position: relative;
      background-color: #f4f4f4;
      padding: 5px 20px 5px 50px;
      &::before {
        content: "";
        position: absolute;
        height: 28px;
        width: 28px;
        display: block;
        left: 10px;
        background: url(/src/images/professional/Professional2.svg);
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 30px 0px;
  }

  &__title {
  }

  &__text {
  }

  &__button {
    background-color: var(--color-yellow);
    color: var(--color-blue);
    &:hover {
      border: 1px solid var(--color-blue);
      background-color: #fff;
    }
  }

  &__image {
    flex: 0 1 50%;
    // padding: 30%;
    & img {
      object-position: right;
    }
  }
}
@media (max-width: 1000px) {
  .professional {
    &__container {
    }

    &__body {
      padding: 40px 0px 0px;
    }

    &__main {
    }

    &__slide {
    }
  }
  .main-professional {
    &__body {
      & span {
        align-self: flex-start;
      }
    }

    &__title {
    }

    &__text {
      text-align: start;
    }

    &__buttons {
    }

    &__list {
      gap: 10px;
      flex-direction: column;
    }

    &__item {
    }

    &__link {
      width: 100%;
    }
  }

  .slide-professional {
    position: static; //!почему не работает и нужно возвращать margin?
    margin-bottom: 0px;
    flex-direction: column;
    padding: 10px;

    gap: 20px;
    &__body {
    }

    &__title {
    }

    &__description {
    }

    &__text {
    }

    &__button {
    }

    &__image {
      padding: 30%;
    }
  }
}
