.whychooseus {
  &__container {
    display: flex;
  }

  &__left {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    flex: 0 1 50%;
  }
}

.left-whychooseus {
  background-image: url(/src/images/whychooseus/WhycgooseusImage.jpg);
  background-size: cover;
  background-position: top center;

  &__body {
    padding: 60px;
    background: rgba(28, 39, 82, 0.86);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 25px;
  }

  &__item {
    display: flex;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 67px;
    background: var(--color-yellow);
    border: 1px solid #ffb342;
    border-radius: 0px;
    font-size: 24px;
    color: var(--color-blue);
  }

  &__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #fff;
    border-left: none;
    width: 290px;
    height: 67px;
    font-size: 25px;
    color: #fff;
    padding: 0px 0px 0px 20px;
    position: relative;
    z-index: 1;
    // transition: all 800ms ease-out;
    // animation: toleft 800ms ease-in both;
    &:hover {
      color: var(--color-blue);
      transition: color 300ms ease-in;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0px;
      height: 67px;
      top: -1px;
      left: 0;
      display: block;
      z-index: -1;
    }
    &:hover::before {
      animation: toleft 300ms ease-in both;
      // z-index: 2;
    }
  }
}
.right-whychooseus {
  &__body {
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__top {
    & span {
      @include span(var(--color-light-grey));
      color: var(--color-blue);
      &::before {
        @include before(0px, 20px, 22px, 27px);
        background: url(/src/images/services/ServicesSpan.svg);
      }
    }
  }

  &__bottom {
  }

  &__items {
    display: flex;
    flex-direction: column;

    gap: 20px;
  }

  &__item {
    position: relative;
    padding: 0px 0px 0px 45px;
    &::before {
      @include before(0, 0, 32px, 32px);
      background-image: url(/src/images/whychooseus/WhychooseusIcon.svg);
    }
  }

  &__title {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.36px;
    color: var(--color-blue);
    padding: 0px 0px 10px 0px;
  }

  &__text {
  }
}
.services {
  &__title {
  }

  &__text {
  }
}

@media (max-width: 1000px) {
  .whychooseus {
    &__container {
      flex-direction: column-reverse;
    }

    &__left {
      display: block;
    }

    &__right {
    }
  }

  .left-whychooseus {
    &__body {
      gap: 20px;
      padding: 40px 10px;
    }

    &__item {
      width: 100%;
    }

    &__number {
    }

    &__button {
      width: 100%;
      &:hover {
        background-color: var(--color-yellow);
        border: 1px solid var(--color-yellow);
      }
      &:hover::before {
        animation: none;
      }
    }
  }
  .right-whychooseus {
    &__body {
      padding: 40px 10px;
      gap: 20px;
    }

    &__top {
    }

    &__bottom {
    }

    &__items {
      gap: 10px;
    }

    &__item {
    }

    &__title {
    }

    &__text {
    }
  }
  .services {
    &__title {
    }

    &__text {
    }
  }
}
